<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="icon" href="../../static/img/logo_snake.png" type="image/x-icon">
</head>

<body>
    <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="">

    </div>
    <div class="button-area">
        <button class="login" onclick="router('basic')">Basic</button>
        <button class="register" onclick="router('advanced')">Advanced</button>
    </div>
    <!-- <script src="{% static 'js/token.js' %}"></script> -->
</body>
<script>
    function router(target) {
        window.location.replace(`${target}`)
        if (target == 'basic') {
            window.localStorage.setItem('basic', true)
            window.localStorage.setItem('key', true)
        } else {
            window.localStorage.setItem('basic', false)

        }
        if (target == 'advanced') {
            window.localStorage.setItem('advanced', true)
        } else {
            window.localStorage.setItem('advanced', false)

        }
    }
</script>

</html>