<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snake</title>
    <link rel="icon" href="../../static/img/logo_snake.png" type="image/x-icon">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body{
            padding: 50px 200px;
            background-color: rgb(118, 201, 79);
            font-family: 'Roboto', sans-serif;
        }
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }
                    
        
    </style>
</head>

<body onload="getData()">
    <div class="row row-cols-1 row-cols-md-2 g-4">  
    </div>
    <div id="myModal" class="modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confirm</h5>
                  <button type="button" onclick="closed()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Do you want to use this style?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" onclick="closed()" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <button type="button" onclick="confirmYes()" class="btn btn-danger">Yes</button>
                </div>
              </div>
            </div>
    </div>
    <div id="message" class="modal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Notification</h5>
              <button type="button" onclick="closed_mess()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <p style="text-align: center;" id="show_mess"></p>
            </div>
           
          </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function getData(){
            $.ajax({
                url: `${window.location.origin}/api/getDataStore`,
                success:(res)=>{
                    res['data'].forEach(element => {
                        let card = `
                        <div class="col-3">
                            <div class="card">
                                <img src="${element['src_img']}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">Price: ${element['price']} <img src='../../static/img/appple.png' style="width:20px;margin-top:-5px"/></h5>
                                <p class="card-text">Description: ${element['desc']}</p>
                                <button class="btn btn-danger" onclick="openDialog('${element['src_img']}', ${element['price']})">Apple</button>
                                </div>
                            </div>
                        </div>
                        
                        `
                        $('.row').append(card)
                    });
                    
                },
                error:(err)=>{
                    console.log(err);
                }
            })
        }
        
        
    </script>
    <script>
        var modal = document.getElementById("myModal");
        var mess_dialog = document.getElementById("message")
        function openDialog(img,price){
            modal.style.display = "block";
            localStorage.setItem('cofirmData', img)
            localStorage.setItem('data_price',price)

        }
        function closed(){
            modal.style.display = "none";
            localStorage.removeItem('cofirmData')
            localStorage.removeItem('data_price')
        }
        function confirmYes(){
            $.ajax({
                url:`${window.location.origin}/paid_snake`,
                type:'POST',
                data:{apple: localStorage.getItem('data_price')},
                success:(res)=>{
                    console.log(res);
                    if(res['message'] =='success'){
                        localStorage.setItem('APPLY_DATA',localStorage.getItem('cofirmData'))
                        modal.style.display = "none";
                        mess_dialog.style.display = 'block'
                        $('#show_mess').text('Payment success')
                        localStorage.removeItem('cofirmData')
                        localStorage.removeItem('data_price')
                    }
                    else{
                        modal.style.display = "none";
                        localStorage.removeItem('cofirmData')
                        localStorage.removeItem('data_price')
                        mess_dialog.style.display = 'block'
                        $('#show_mess').text('Payment failed')

                    }
                    
                },
                error:(err)=>{
                    localStorage.removeItem('cofirmData')
                    localStorage.removeItem('data_price')
                    console.log(err);
                    mess_dialog.style.display = 'block'
                    $('#show_mess').text('payment failed')
                }
            })
            // const data = localStorage.getItem('cofirmData')
            // localStorage.setItem('APPLY_DATA',data)
            // modal.style.display = "none";
            // localStorage.removeItem('cofirmData')
        }
        function closed_mess(){
            mess_dialog.style.display = 'none'
        }
        
    </script>
</body>

</html>