<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="icon" href="../../static/img/logo_snake.png" type="image/x-icon">
</head>

<body>
    <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="">

    </div>
    <div class="button-area">
        <button class="login" onclick="router('login')">Login</button>
        <button class="register" onclick="router('register')">Register</button>
    </div>
    <audio src="../../static/music/game.mp3" muted loop="loop" id="audio"></audio>
</body>
<script>
    setTimeout(() => {
        document.getElementById('audio').muted = false;
        document.getElementById('audio').play();
    }, 2000)

    function router(tagert) {
        window.location.replace(`${tagert}`)
    }
</script>

</html>